@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: #a9d7d1;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;
}

#main {
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto 10%;
  width: 80%;
  padding: 20px 10%;
}

#description {
  margin: 20px auto;
}

.section {
  margin: 10px auto;
  display: flex;
  align-items: flex-start;
}

.question {
  text-align: right;
  padding-right: 20px;
  margin: 10px auto;
  width: 50%;
}

.answer {
  width: 50%;
  text-align: left;
  margin: 10px auto;
}


@media screen and (max-width: 480px) {
  .section {
    display: block;
  }

  .question {
    width: 100%;
    text-align: left;
    float: left;
  }

  .answer {
    width: 100%;
  }
}

.option-group {
  display: grid;
  grid-row-gap: 8px;
  text-align: left;
}

.input-field,
select {
  width: 90%;
}

button {
  color: white;
  background-color: #59ace0;
  border: None;
  border-radius: 5px;
  padding: 10px 15px;
}
